@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: #FBF9F5;
    color: #2B2927;
    font-family: 'Plus Jakarta Sans', sans-serif;
  }
  
  h1, h2, h3, h4, .font-serif {
    font-family: 'Newsreader', Georgia, serif;
  }
}
